<form [formGroup]="myFormGroup">
 <div class="col text-right">
  <ng-container *ngIf="showDiagram">
   <div id="sample" style="position: relative">
    <div
     id="myDiagramDiv"
     style="border: solid 1px black; width: 830px; height: 900px"
    ></div>
    <div id="contextMenu" oncontextmenu="return false;"></div>
    <div
     id="contextMenuDIV"
     style="
      position: absolute;
      background: #f1efef;
      z-index: 1000;
      display: none;
      box-shadow: 6px 2px 12px #ccc !important;
      width: 140px !important;
     "
    >
     <div id="contextMenuData" style="color: black"></div>
    </div>
   </div>
  </ng-container>
 </div>
</form>
