<div class="row ml-0 mr-0">
 <div id="demo" class="col-3 border box-inner collapse show mt-1 px-0">
  <div class="row border-bottom mx-0 mb-0">
   <nav class="navbar navbar-expand-lg py-0 col align-self-end">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item pt-25">
      <span type="button" [routerLink]="routeToAddDetails()" class="btn btn-light btn-sm bc-n"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> </span>
     </li>
     <li class="nav-item dropdown">
      <span type="button" class="nav-link btn btn-light btn-sm bc-n" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
      </span>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       <a class="dropdown-item" href="#">View Config Backup</a>
       <a class="dropdown-item" href="#">Compare Config Backup</a>
       <a class="dropdown-item" href="#">Create Device Group</a>
       <a class="dropdown-item" href="#">Delete Device</a>
       <a class="dropdown-item" href="#">Schedule Run</a>
       <div class="dropdown-divider"></div>
       <a class="dropdown-item"> Download All Device</a>
      </div>
     </li>
    </ul>
   </nav>
   <i *ngIf="leftDivShow" href="#demo" (click)="leftDivClick()" data-toggle="collapse" class="fa fa-caret-left fa-2x pull-right pr-2 pt-2 sticky-div" aria-hidden="true"></i>
  </div>

  <table class="table table-hover table-borderless mb-0">
   <tbody class="tbody">
    <tr class="sticky-div">
     <td colspan="2">
      <div class="input-group input-focus">
       <div class="input-group-prepend">
        <span class="input-group-text" style="background-color: #f8faf9"><i class="fa fa-search"></i></span>
       </div>
       <input type="search" style="background-color: #f8faf9" placeholder="Search" id="name" (keyup)="filterValues($event)" class="form-control border-left-0" />
      </div>
     </td>
     <td class="align-middle">
      <i class="fa fa-sliders fa-lg" aria-hidden="true"></i>
     </td>
    </tr>

    <tr *ngFor="let ValbyGrp of deviceGroup" class="border-bottom">
     <th scope="row" class="w5"><input type="checkbox" id="{{ ValbyGrp.id }}" class="chksize" /></th>
     <td colspan="3" class="f16" (click)="getRecord(ValbyGrp)"><img src="../../../assets/grpadmin.png" /> &nbsp; {{ ValbyGrp.groupName }}</td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="customSlider border-right border-top mt-1" *ngIf="rightDivShow">
  <img src="../../../assets/new-device-slider.png" alt="" />
  <i href="#demo" data-toggle="collapse" (click)="rightDivClick()" class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
 </div>
 <div class="col outerBox" style="min-height: 82vh">
  <div class="ml-1 mr-2 mt-1" style="min-height: 82vh">
   <div class="row border p-3 deviceDetails">
    <table style="width: 100%">
     <tbody class="tbody">
      <tr *ngFor="let ValbyID of deviceGroupDlts">
       <td class="col" style="width: 15%">
        <div class="col">
         {{ ValbyID.type }} Name
         <div>
          <strong>{{ ValbyID.Name }}</strong>
         </div>
        </div>
       </td>
       <td class="col" style="width: 15%">
        <div class="col">
         Created On
         <div>
          <strong>{{ ValbyID.created }}</strong>
         </div>
        </div>
       </td>
       <td class="col" style="width: 15%">
        <div class="col">
         No of Device
         <div>
          <strong>{{ ValbyID.deviceCnt }} </strong>
         </div>
        </div>
       </td>
       <td class="col" style="width: 15%">
        <div class="col">
         Enabled Devices
         <div>
          <strong> {{ ValbyID.devEnableCnt }} </strong>
         </div>
        </div>
       </td>
       <td class="col" style="width: 15%">
        <div class="col">
         Disabled Devices
         <div>
          <strong> {{ ValbyID.devDisableCnt }} </strong>
         </div>
        </div>
       </td>
      </tr>
     </tbody>
    </table>
   </div>
   <div class="row p-5 border bg-white">
    <div style="width: 100%">
     <div class="border-bottom" style="width: 100%">
      <div class="f18 dv90">DEVICES</div>
      <div>
       <img src="../../../assets/plus.png" /> &nbsp;&nbsp;
       <img src="../../../assets/delete.png" />
      </div>
     </div>
     <br />
     <div style="width: 100%">
      <table class="tblstyle">
       <thead>
        <tr class="border-bottom">
         <th style="width: 20%">Device Name</th>
         <th style="width: 15%">IP Address</th>
         <th style="width: 10%">Backup</th>
         <th style="width: 20%">Last Run</th>
         <th style="width: 20%">Next Run</th>
         <th style="width: 15%">Vendor</th>
        </tr>
       </thead>

       <tbody>
        <tr *ngFor="let DatabyID of allDevices" class="border-bottom">
         <td style="width: 20%"><input type="checkbox" id="{{ DatabyID.deviceId }}" /> &nbsp; &nbsp;{{ DatabyID.deviceName }}</td>
         <td style="width: 15%">{{ DatabyID.deviceIp }}</td>
         <td style="width: 10%">{{ DatabyID.isenabled }}</td>
         <td style="width: 20%">{{ DatabyID.lastrun }}</td>
         <td style="width: 20%">{{ DatabyID.nextrun }}</td>
         <td style="width: 15%">{{ DatabyID.vendor }}</td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
    <br />
    <div style="width: 100%">
     <div class="border-bottom p-255" style="width: 100%">
      <div class="f18 dv90">USERS</div>
      <div>
       <img src="../../../assets/plus.png" /> &nbsp;&nbsp;
       <img src="../../../assets/delete.png" />
      </div>
     </div>
     <br />
     <div class="p-255" style="width: 100%">
      <table class="tblstyle">
       <thead>
        <tr class="border-bottom">
         <th style="width: 25%">User Name</th>
         <th style="width: 25%">Login Type</th>
         <th style="width: 25%">Login Port</th>
         <th style="width: 25%">Device Name</th>
        </tr>
       </thead>

       <tbody>
        <tr *ngFor="let usrdatabyID of allUsers" class="border-bottom">
         <td style="width: 25%"><input type="checkbox" id="{{ usrdatabyID.id }}" /> &nbsp; &nbsp;{{ usrdatabyID.username }}</td>
         <td style="width: 25%">{{ usrdatabyID.logintype }}</td>
         <td style="width: 25%">{{ usrdatabyID.loginport }}</td>
         <td style="width: 25%">{{ usrdatabyID.deviceName }}</td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
